name: CI

on:
  push:
    branches:
    - '**'
    paths-ignore:
    - 'docs/**'
    - '**.md'
    - '**/.*.yml'
    - '.vscode/**'
    tags-ignore:
    - '*'
  schedule:
    # we want to verify our SDKs on a constant schedule
    - cron: '0 0 * * *'
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '6.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Test
        env:
          PC_API_KEY: ${{ secrets.PC_API_KEY }}
        run: dotnet test --no-build --logger "console;verbosity=detailed"
